<!-- appbar.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Appbar</title>
    <style>
        .appbar {
            background-color: #5F9EA0;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .appbar-icon {
            color: white;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="appbar">
    <a href="/user/me" class="appbar-icon">Профиль</a>
    <a href="/messenger" class="appbar-icon">Список чатов</a>
    <a href="/user/all" class="appbar-icon">Список пользователей</a>
    <a href="/" class="appbar-icon">Главная</a>
</div>
</body>
</html>