<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div th:insert="~{appbar.html}"></div>
<div class="chat-container">
    <div class="chat-header">
        <img src="/user-Male.png" alt="User Avatar">
        <span th:text="${receiver.username}"></span>
    </div>
    <div class="chat-messages" id="chat-messages">
        <!-- Thymeleaf loop to display messages -->
        <div th:each="message : ${messages}" th:class="${message.author == currentUser ? 'sent' : 'received'}">
            <div class="message-text">
                <p th:text="${message.text}"></p>
                <span th:text="${message.getDate()}"></span>
            </div>
        </div>
    </div>
    <div class="chat-footer">
        <form th:action="@{/messenger/user/{id}(id=${receiver.id})}" method="post">
            <textarea id="message-input" name="text" placeholder="Type your message (max 150 characters)" maxlength="150" required></textarea>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <button type="submit">Send</button>
        </form>
    </div>
</div>
<script src="/chat.js"></script>
</body>
</html>