<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:insert="appbar.html"></div>
<div class="profile-header">
    <img src="/user-Male.png" alt="User Avatar">
    <h2 th:text="${currentUser.username}"></h2>
</div>
<div class="dialog-list">
    <h1>Chat list</h1>
    <ul>
        <li th:each="user : ${users}" class="user-item">
            <a th:href="@{/messenger/user/{id}(id=${user.id})}" class="user-link">
                <img src="/user-Male.png" alt="User Avatar" class="user-avatar">
                <span th:text="${user.username}" class="username"></span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>