<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:insert="~{appbar.html}"></div>
<div class="profile-header">
    <img src="/user-Male.png" alt="User Avatar">
    <h2 th:text="${user.username}"></h2>
</div>
<span th:if="${user.id != currentUser.id}">
    <div style="text-align: center;">
        <div class="chat-link">
        <a th:href="@{/messenger/user/{id}(id=${user.id})}">Chat</a>
    </div>
    </div>
</span>
<div class="form-post">
    <form th:action="@{/user/{id}(id=${user.id})}" method="post">
        <textarea name="text" placeholder="Text for post" required maxlength="150"
                  oninput="checkCharacterLimit(event)"></textarea>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="submit" value="Post">
        <span id="characterCount">0/150</span>
    </form>
</div>
<div class="post-list">
    <div th:each="post : ${posts}" class="post">
        <div class="post-header">
            <img src="/user-Male.png" alt="Post Author Avatar">
            <h3 th:text="${post.author.username}" style="margin-right: 5px;"></h3>
            <span th:text="${post.getDate()}"></span>
        </div>
        <div class="post-text" th:text="${post.text}"></div>
    </div>
</div>

<script>
    function checkCharacterLimit(event) {
        const textarea = event.target;
        const maxLength = parseInt(textarea.getAttribute("maxlength"));
        const currentLength = textarea.value.length;
        const characterCountElement = document.getElementById("characterCount");

        if (currentLength > maxLength) {
            textarea.value = textarea.value.substring(0, maxLength);
            characterCountElement.textContent = `${maxLength}/${maxLength}`;
            alert("Exceeded the limit of 150 characters!");
        } else {
            characterCountElement.textContent = `${currentLength}/${maxLength}`;
        }
    }
</script>
</body>
</html>